@import "tailwindcss";

:root {
  --background: #050814;
  --foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom cyber scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #0a0f1d;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}
